.row-menu {
  background: rgb(3, 77, 140);
  background: linear-gradient(
    86deg,
    rgba(3, 77, 140, 1) 0%,
    rgba(5, 177, 241, 1) 60%
  );
  max-width: 100%;
}
.col-sm-6 img{
  margin-top: 25px;
  margin-left: 25px;
}
.row-menu{
  padding-top: 30px;
  color: white;
}
.col-sm-4-members-area h6{
  float: left;
  color: white;
  margin-left: 30px;
  margin-top: 20px;
  position: absolute;
  font-size: 17.3px;
}
.col-sm-4-search h6{
  float: left;
  color: white;
  margin-left: 30px;
  margin-top: 20px;
  position: absolute;
  font-size: 17.3px;
}
.col-sm-4-menu h6{
  float: left;
  color: white;
  margin-left: 30px;
  margin-top: 20px;
  position: absolute;
  font-size: 17.3px;
}
.row-search h2{
  font-size: 42.6px;
  font-family: myriad-pro;
}
.row-search .col-sm-12-search p{
  font-size: 29.3px;
}
.col-sm-12-search input{
  text-align: left; 
  color: white; 
  font-size: 25px;
}
.col-sm-12-button{
  color: gray;
}
.row-contenttype {
  margin-top: 100px; 
  text-align: center;
  
}
.button{
  border-top-style:solid 5px green;
  border-bottom-style:none;
  
}
.container-fluid-heder{
  background: rgb(3, 77, 140);
  background: linear-gradient(
    86deg,
    rgba(3, 77, 140, 1) 0%,
    rgba(5, 177, 241, 1) 60%
  );
  text-align: center;
  color: white;
}
.col-sm-12 p{
  font-size: 20px;
}
.row-search{
  padding-top: 45px;
}
#form{
  text-align: center;
  padding: 3%;

}
input {
  background-color: rgba(5, 177, 241, 1);
  width: 450px;
  height: 55px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid #2d9fd9;
}

.btn-outline-success:hover {
  background: linear-gradient(
    86deg,
    rgba(135, 195, 49, 1) 0%,
    rgba(7, 178, 238, 1) 65%
  );
}
.btn-outline-success-load{
  background: linear-gradient(86deg, rgba(135, 195, 49, 1) 0%, rgba(7, 178, 238, 1) 65%);
}

.btn-outline-success {
  border-color: gray;
  color: gray;
  height: 50px;
  width: 250px;
}

.section-titleofpage {
  margin-top: 5%;
}

.section-titleofpage h6 {
  color: blue;
}

.section-titleofpage h6 span {
  color: darkblue;
}
-of-page
.section-titleofpage h3 {
  color: darkblue;
}

.section-titleofpage .row .col-sm-12 p {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom-style: solid;
  border-bottom-width: medium;
  border-bottom-color: gray;
 
}

/* .col-sm-12 .btn btn-outline-success {
  color: red;
} */

.row-efpia{
  background: linear-gradient(
    86deg,
    rgba(135, 195, 49, 1) 0%,
    rgba(7, 178, 238, 1) 65%);
   margin-top: 50px;
  text-align: center;
  padding-top: 150px;
  color: darkblue;
  max-width: 100%;


}
.row-footer{
background-color: darkblue;
max-width: 100%;
}
